# https://editorconfig.org
root = true

[*]
indent_style = space
indent_size = 2
max_line_length = 140

end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true

ktlint_standard_property-naming = disabled

[*.{kts}]
ktlint_code_style = ktlint_official

ktlint_standard = enabled


[*.{kt}]
ktlint_code_style = ktlint_official

ktlint_standard = enabled
ktlint_kotlin_deprecatedApi = disabled

[*.md]
trim_trailing_whitespace = false
max_line_length = unset

